table {
    width: 100%; 
    border-collapse: collapse; 
    font-family: Arial;
}

#pageTitle {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
    font-size: 34px;
    border-bottom: 2px solid #4a90e2;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
}

/* header and table data */
th, td {
    border: 1px solid #a5c1e8;
    padding: 4px;
    text-align: left;
}

th { /* header */
    background-color: #4a90e2;
    color: rgba(255, 255, 255, 0.76);
}

/* pseudo classes odd/even rows */
tr:nth-child(odd) {
    background-color: #f3f8fd;
}

tr:nth-child(even) {
    background-color: #e8f1fb;
}

#controls {
    margin-bottom: 15px;
    position: relative;
}

button {
    padding: 6px 12px; 
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.8s ease-in-out;
}

button:hover {
    background-color: #357ab8;
    transform: translateY(-1px); 
}

#csvFileInput {
    cursor: pointer;
}

#pagination {
    margin-top: 10px;
}

.dropdown {
    position: absolute;
    background: #ffffff;
    border: 1px solid #357ab8;
    padding: 5px;
    width: 130px;
}

/* for every label in dropdown class */
.dropdown label {
    display: flex;
    gap: 3px;
    margin-bottom: 3px;
}

/* every element in this class is hidden before csv load */
.hidden {
    display: none; 
}

#addFormContainer {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #357ab8;
    background-color: #a5c1e8;
}

#addForm input {
    margin-right: 6px;
    margin-bottom: 4px;
    padding: 4px;
    width: 150px;
    border: 1px solid #357ab8;
    transition: all 0.8s ease-in-out;
}

#addForm input:focus {
    outline: none;
    border-color: #15ff00;
}

.delete-btn {
    background: none;
    border: none;
    padding: 1;
    cursor: pointer;
    font-size: 18px;
    color: #e74c3c;
}

.delete-btn:hover {
    color: #ffffff;
}

.edit-btn {
    background: none;
    border: none;
    padding: 1;
    cursor: pointer;
    font-size: 18px;
    color: #2980b9;
}

.edit-btn:hover {
    color: #ffffff;
}

.editing {
    background-color: #bcd5e8!important;
}