table {
    width: 100%;
    border-collapse: collapse;
}

/* header and table data */
th, td {
    border: 1px solid #000000;
    padding: 4px;
    text-align: l;
}

th {
    background-color: rgb(161, 157, 157);
}

/* pseudo classes odd/even rows */
tr:nth-child(odd) {
    background-color: #6d6a6a09; 
}

tr:nth-child(even) {
    background-color: #dfd8d8dc;
}

#controls {
    margin-bottom: 15px;
    position: relative;
}

button { 
    padding: 6px 12px;
    cursor: pointer;
}

#csvFileInput {
    cursor: pointer;
} 

#pagination {
    margin-top: 10px;
}

.dropdown {
    position: absolute; 
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    width: 130px;
}

/* for every label in dropdown class */
.dropdown label {
    display: flex;
    gap: 3px;
    margin-bottom: 3px;
}

/* every element in this class is hidden before csv load */
.hidden {
    display: none;
}

#addFormContainer {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ccc;
}
		
#addForm input {
	margin-right: 6px;
	margin-bottom: 4px;
	padding: 4px;
	width: 150px;
}

.delete-btn {
    background: none; /* no background */
    border: none;    /* no border */
    padding: 1;           
    cursor: pointer;       
    font-size: 18px;     
}

.edit-btn {
    background: none; 
    border: none;    
    padding: 1;           
    cursor: pointer;       
    font-size: 18px;     
}

.editing {
    background-color: #fff3cd;
}